body {
  padding: 50px;
  font: 14px "Helvetica", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("fondo2.png");
  background-repeat: no-repeat;
 background-attachment: fixed;


}

a {
  color: #00B7FF;
}
