body {
  padding: 50px;
  font: 17px "Helvetica", Helvetica, Arial, sans-serif;

  margin: 0;
  background-image: url("fondo2.png");

  background-repeat: no-repeat;
 background-attachment: fixed;


}

a {
  color: #00B7FF;
}
#divingreso{
  color:black;
}
#usuariosform{
  color:white;
}
